.Container {
  max-width: 800px;
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}

.App {
  background-color: rgb(246, 240, 255);
  border: 1px black solid;
  border-radius: 20px;
  margin: 40px;
  font-family: Arial, sans-serif;
}
footer {
  margin-top: 30px;

  padding: 20px;
}
