form {
  padding-top: 30px;
  padding-left: 30px;
}

input {
  padding: 10px 120px 10px 120px;
  margin-left: 20px;
  border-color: blue;
}
button {
  background-color: rgb(99, 99, 199);
  padding: 10px 60px 10px 60px;
  border-color: black;
}
.MainName {
  margin-top: 40px;
  margin-left: 40px;
}
.Temp {
  margin-left: 40px;
}
li {
  text-decoration: none;
  font-size: 15px;
}
